[Desktop Entry]
Name=Dialer
Comment=Contacts manager
TryExec=dialer
Exec=dialer %U
Terminal=false
Type=Application
Categories=Qt;KDE;System;
GenericName=Contacts
StartupNotify=true
Icon=smartphone
MimeType=application/x-communicator;
