[Desktop Entry]
Name=Dialer
Name[ca]=Marcador
Name[es]=Dial
Name[lt]=Numerio rinkiklis
Name[nl]=Telefoonkiezer
Name[pt]=Teclado
Name[uk]=Набирання номера
Name[x-test]=xxDialerxx
Name[zh_TW]=撥號
Comment=Contacts manager
Comment[ca]=Gestor de contactes
Comment[es]=Gestor de contactos
Comment[lt]=Adresatų tvarkytuvė
Comment[nl]=Beheerder van contactpersonen
Comment[pt]=Gestor de contactos
Comment[sk]=Správca kontaktov
Comment[uk]=Керування контактами
Comment[x-test]=xxContacts managerxx
Comment[zh_TW]=聯絡人管理工具
TryExec=dialer
Exec=dialer %U
Terminal=false
Type=Application
Categories=Qt;KDE;System;
GenericName=Contacts
GenericName[ca]=Contactes
GenericName[es]=Contactos
GenericName[lt]=Adresatai
GenericName[nl]=Contactpersonen
GenericName[pt]=Contactos
GenericName[sk]=Kontakty
GenericName[uk]=Контакти
GenericName[x-test]=xxContactsxx
GenericName[zh_TW]=聯絡人
StartupNotify=true
Icon=smartphone
MimeType=application/x-communicator;
