[Desktop Entry]
Name=Communicator
Name[ca]=Comunicador
Name[es]=Comunicador
Name[nl]=Communicator
Name[pt]=Comunicador
Name[sk]=Komunikátor
Name[uk]=Комунікатор
Name[x-test]=xxCommunicatorxx
Name[zh_TW]=通訊工具
Comment=Contacts manager
Comment[ca]=Gestor de contactes
Comment[es]=Gestor de contactos
Comment[nl]=Beheerder van contactpersonen
Comment[pt]=Gestor de contactos
Comment[sk]=Správca kontaktov
Comment[uk]=Керування контактами
Comment[x-test]=xxContacts managerxx
Comment[zh_TW]=聯絡人管理工具
TryExec=union
Exec=union %U
Terminal=false
Type=Application
Categories=Qt;KDE;System;
GenericName=Contacts
GenericName[ca]=Contactes
GenericName[es]=Contactos
GenericName[nl]=Contactpersonen
GenericName[pt]=Contactos
GenericName[sk]=Kontakty
GenericName[uk]=Контакти
GenericName[x-test]=xxContactsxx
GenericName[zh_TW]=聯絡人
StartupNotify=true
Icon=smartphone
MimeType=application/x-communicator;
