[Desktop Entry]
Name=Contacts
Name[ca]=Contactes
Name[ca@valencia]=Contactes
Name[cs]=Kontakty
Name[es]=Contactos
Name[et]=Kontaktid
Name[ko]=연락처
Name[lt]=Adresatai
Name[nl]=Contactpersonen
Name[pt]=Contactos
Name[sv]=Kontakter
Name[uk]=Контакти
Name[x-test]=xxContactsxx
Name[zh_TW]=聯絡人
TryExec=contacts
Exec=contacts %U
Terminal=false
Type=Application
Categories=Qt;KDE;System;
GenericName=Contacts
GenericName[ca]=Contactes
GenericName[ca@valencia]=Contactes
GenericName[cs]=Kontakty
GenericName[es]=Contactos
GenericName[et]=Kontaktid
GenericName[ko]=연락처
GenericName[lt]=Adresatai
GenericName[nl]=Contactpersonen
GenericName[pt]=Contactos
GenericName[sk]=Kontakty
GenericName[sv]=Kontakter
GenericName[uk]=Контакти
GenericName[x-test]=xxContactsxx
GenericName[zh_TW]=聯絡人
StartupNotify=true
Icon=maui-contacts
MimeType=application/x-communicator;
